@page
@model AdminUI.Pages.SearchMemberModel
@{
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<div class="container col-lg-3">
    <form method="post">
        <h2>جست و جوی کاربر</h2>
        <div class="mb-3">
            <label asp-for="@Model.MemberModel.Name" class="form-label"></label>
            <input type="text" asp-for="@Model.MemberModel.Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.MemberModel.LastName" class="form-label"></label>
            <input type="text" asp-for="@Model.MemberModel.LastName" class="form-control" />
        </div>

        <div class="text-center">
            @* <input type="submit" class="btn btn-primary" value="جست و جو" /> *@
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
            <span>جست و جو</span>
        </div>
    </form>
</div>



<div class="my-5 container">
    <h2 class="mb-5">لیست کاربران</h2>

<div class="my-5 container">
    <h2 class="my-3">لیست کاربران</h2>
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">تاریخ ثبت</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var member in Model.Members)
            {
                <tr>
                    <th scope="row">@member.Id</th>
                    <td>@member.Name</td>
                    <td>@member.LastName</td>
                    <td>@member.RegisterDate</td>
                    <td><a class="btn btn-outline-primary" asp-page="Details" asp-route-id="@member.Id"><i class="bi bi-eye"></i></a></td>
                    <td><a class="btn btn-outline-warning" asp-page="Update" asp-route-id="@member.Id"><i class="bi bi-pen"></i></a></td>
                    <td><a class="btn btn-outline-danger" asp-page="SearchMember" asp-page-handler="Delete" asp-route-id="@member.Id"><i class="bi bi-eraser-fill"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>