@page
@model AdminUI.Pages.SearchMemberModel
@{
}


<div class="container col-lg-3">
    <form method="post">
        <h2>جست و جوی کاربر</h2>
        <div class="mb-3">
            <label asp-for="@Model.MemberModel.Name" class="form-label"></label>
            <input type="text" asp-for="@Model.MemberModel.Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.MemberModel.LastName" class="form-label"></label>
            <input type="text" asp-for="@Model.MemberModel.LastName" class="form-control" />
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>


<div class="my-5container">
    <h2 class="my-3">لیست کاربران</h2>
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">تاریخ تولد</th>
                <th scope="col">شماره تماس</th>
                <th scope="col">کد ملی</th>
                <th scope="col">جنسیت</th>
                <th scope="col">نوع عضویت</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var member in Model.Members)
            {
                <tr>
                    <th scope="row">@member.Id</th>
                    <td>@member.Name</td>
                    <td>@member.LastName</td>
                    <td>@member.BirthDay</td>
                    <td>@member.PhoneNumber</td>
                    <td>@member.NationalCode</td>
                    <td>@member.Gender</td>
                    <td>@member.MemType</td>
                    <td><a class="btn btn-outline-primary" asp-page="Details" asp-route-id="@member.Id">جزئیات</a></td>
                    <td><a class="btn btn-outline-warning" asp-page="Update" asp-route-id="@member.Id">ویرایش</a></td>
                    <td><a class="btn btn-outline-danger" asp-page="Remove" asp-route-id="@member.Id">حذف</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>